{% extends "base/base.html" %}
{% block page %}
{% verbatim %}

<div id='projectVue'>

        <div class='row'>
          <div class='col'>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addProjectModal">
              Add Project
            </button>
            <h4> Projects </h4>
            

          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>

                <tr v-for="project in projects">
                  <th scope="row">#{{project.id}}</th>
                  <td>
                    <a :href='"/projects/"+project.id'>
                      {{project.name}}
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>


<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModalLabel">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form v-on:submit.prevent="saveProject">
  <div class="form-group">
    <label for="projectName">Project</label>
    <input type="text" class="form-control" id="projectName" aria-describedby="projectNameHelp" placeholder="Enter project name.." v-model='projectForm.name'>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
      </div>

    </div>
  </div>
</div>

</div>

<script type='text/javascript'>

var app = new Vue({
  el: '#projectVue',
  data: {
    projects: [],
    projectForm: {
      name: ''
    }
  },
  methods: {
    loadProjects: function(){
      console.log('loadProjects');
      var that = this;
      $.get('/api/v1/projects', function(data){

        that.projects = data['results'];
        console.log(data);
      });
    },
    saveProject : function(){
      var that = this;
      $.post("api/v1/projects/", this.projectForm, function(data){
        alert("Saved");
        $('#addProjectModal').modal('hide');
        that.loadProjects();
      });
    }

  },
  mounted: function(){
    this.loadProjects();
  }
});

</script>
{% endverbatim %}

{% endblock %}