{% extends "base/base.html" %}
{% block page %}

      <div class="page">
        <div class='row'>
          <div class='col'>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSystemModal">
              Add System
            </button>

            <a class='btn btn-info float-right' href='{% url "logout" %}?next=/'> Logout </a>

          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Repo</th>
                  <th scope="col">Environment Config</th>
                  <th scope="col">Staging Info</th>
                  <th scope="col">Production Info</th>
                  <th scope="col">API Info</th>
                  <th scope="col">Documentation</th>
                  <th scope="col">Author</th>
                  <th scope="col">Moderators</th>
                  <th scope="col">Dependencies</th>
                </tr>
              </thead>
              <tbody>
                {% for system in systems %}
                <tr>
                  <td>
                    <a href='/projects/{{project.id}}/systems/{{system.id}}'>
                      {{system.name}}
                    </a>
                  </td>
                  <td>
                    {{system.system_type}}
                  </td>
                  <td>
                    {{system.repo_info}}
                  </td>
                  <td>
                    {{system.environment_config}}
                  </td>
                  <td>
                    {{system.staging_info}}
                  </td>
                  <td>
                    {{system.production_info}}
                  </td>
                  <td>
                    {{system.api_info}}
                  </td>
                  <td>
                    {{system.deployment_type}}
                  </td>
                  <td>
                    {{system.author}}
                  </td>
                  <td>
                    {% for moderator in system.moderators.all %}
                      {{moderator.username}} <br>
                    {% endfor %}
                  </td>
                  <td>
                    {% for dep in system.dependencies.all %}
                      <a href='/projects/{{project.id}}/systems/{{dep.id}}'>
                        {{dep.name}}
                      </a>
                      [{{dep.system_type}}]
                      <br>
                    {% endfor %}
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


<div class="modal fade" id="addSystemModal" tabindex="-1" role="dialog" aria-labelledby="addSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSystemModalLabel">New System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="systemName">System Name</label>
            <input type="text" class="form-control" id="systemName" aria-describedby="systemNameHelp" placeholder="Enter system name..">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>

    </div>
  </div>
</div>


{% endblock %}