{% extends "base/base.html" %}
{% block page %}
  {% verbatim %}
  <div id='systemDetailVue'>
    <div class='row' v-if='project!=null'>
      <div class='col'>
        
        <h4>
        <a href='/dashboard'> Projects </a>
        >
        <a :href='"/projects/"+project.id' class='text-muted'> {{project.name}} </a>
        >
        <a :href='"/projects/"+project.id+"/systems/"+system.id+"/"' class='text-muted'> {{system.name}} </a>
        </h4>
      </div>
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-system-details-tab" data-toggle="pill" href="#pills-system-details" role="tab" aria-controls="pills-system-details" aria-selected="true">System Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">Apps/Integrations</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-system-details" role="tabpanel" aria-labelledby="pills-system-details-tab">
            <div class='row'>
              <div class='col-md-6'>
            <h4> System Details </h4>
            <form v-on:submit.prevent="saveSystem">
              <div class='row'>
                <div class='col-md-4'>
                  <div class="form-group">
                    <label for="systemName">System Name</label>
                    <input type="text" class="form-control" id="systemName" aria-describedby="systemNameHelp" v-model='system.name'>
                  </div>
                  <div class="form-group">
                    <label for="description"> Description </label>
                    <textarea class='form-control' id="description" v-model="system.description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="deploymentType"> Deployment Type </label>
                    <select id='systemType' v-model='system.deployment_type' class='form-control'>
                      <option value=''>----</option>
                      <option v-for="option in deploymentTypes" v-bind:value="option.type">
                        {{ option.label }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="systemType">System Type</label>
                    <select id='systemType' v-model='system.system_type' class='form-control'>
                      <option value=''>----</option>
                      <option v-for="option in systemTypes" v-bind:value="option.type">
                        {{ option.label }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="documentation"> Documentation </label>
                    <textarea class='form-control' id="documentation" v-model="system.documentation"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="apiInfo"> API Info </label>
                    <textarea  class='form-control'  id="apiInfo" v-model="system.api_info"></textarea>
                  </div>
                </div>
                <div class='col-md-8'>
                  
                  <div class="form-group">
                    <label for="repoInfo"> Repository Info </label>
                    <textarea  class='form-control'  id="repoInfo" v-model="system.repo_info"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="environmentConfig"> Environment Config </label>
                    <textarea  class='form-control'  id="environmentConfig" v-model="system.environment_config"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="stagingInfo"> Staging Info </label>
                    <textarea  class='form-control'  id="stagingInfo" v-model="system.staging_info"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="productionInfo"> Production Info </label>
                    <textarea  class='form-control'  id="productionInfo" v-model="system.production_info"></textarea>
                  </div>
                  
                  
                </div>
              </div>
              
              
              
              <button type="submit" class="btn btn-primary">Save</button>
              
            </form>
          </div>
          <div class='col-md-6'>
            <h4> Moderators </h4> 
    
            <hr>
            <h4> Dependencies </h4>

            <hr>

          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
      
        <div class='row'>
        <div class='col-md-3'>
          <br><br>
          <ul class="list-group">
            <li class="list-group-item" v-for='app in systemApps' v-bind:class="{ active: selectedApp.id == app.app.id }" v-on:click='setSelectedApp(app)'>
              {{app.app.name}}
            </li>
          </ul>
        </div>

        <div class='col-md-9'>

          <div v-if='selectedApp==""'>
            <br><br>
            No app selected.
          </div>
          <div v-if='selectedApp!=""'>
            <b> App Posts </b> <hr>
            <div v-for='post in appPosts'>
              {{post}}
            </div>
            <p v-if='selectedApp != "" && appPosts.length==0'>
              No app posts!
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  var systemDetailVue = new Vue({
    el: '#systemDetailVue',
    data: {
        projectID: null,
        systemID: null,
        integrations: [],
        project: null,
        system: {
            name: '',
            system_type: '',
            repo_info: '',
            environment_config: '',
            staging_info: '',
            production_info: '',
            api_info: '',
            documentation: '',
            deployment_type: '',
            author: {},
        },
        systemModerators: [],
        systemApps: [],
        systemDependencies: [],
        deploymentTypes: [{
                'type': 'shared',
                'label': 'Shared Hosting'
            },
            {
                'type': 'dedicated',
                'label': 'Dedicated Server'
            },
            {
                'type': 'vm',
                'label': 'Virtual Machine'
            },
            {
                'type': 'container',
                'label': 'Container'
            },
            {
                'type': 'service',
                'label': 'Service'
            },
        ],
        systemTypes: [{
                'type': 'worker',
                'label': 'Worker'
            },
            {
                'type': 'system',
                'label': 'System'
            },
            {
                'type': 'storage',
                'label': 'Storage'
            },
            {
                'type': 'queue',
                'label': 'Queue'
            },
            {
                'type': 'database',
                'label': 'Database'
            },
            {
                'type': 'web',
                'label': 'Web'
            },
            {
                'type': 'client/web',
                'label': 'Web Client'
            },
            {
                'type': 'client/desktop',
                'label': 'Desktop Client'
            },
            {
                'type': 'client/mobile',
                'label': 'Mobile Client'
            }
        ],
        selectedApp: '',
        appPosts: [],
    },
    methods: {
        loadProject: function(projectID) {
            var that = this;
            $.get("/api/v1/projects/" + projectID + "/", function(data) {
                that.project = data;
            });
        },
        loadSystem: function(projectID, systemID) {
            var that = this;
            $.get("/api/v1/projects/" + projectID + "/systems/" + systemID + "/", function(data) {
                that.system = data;
            });
        },
        saveSystem: function() {
            var that = this;
            $.ajax({
                url: "/api/v1/projects/" + this.projectID + "/systems/" + this.systemID + "/",
                type: 'PUT',
                success: function(data) {
                    alert("Saved!");
                    that.project = data;
                },
                data: that.system
            });
        },
        addSystem: function() {
            var that = this;
            $.post("/api/v1/projects/" + this.projectID + "/systems/", that.system, function(data) {
                alert("Added System!");
                that.loadSystems(that.projectID);
                $('#addSystemModal').modal('hide');
            });
        },
        extractURLInfo: function() {
            var path = window.location.pathname.split('/');
            var trailingPad = 0;
            if (path[path.length - 1] == '') {
                trailingPad = 1;
            }
            return {
                systemID: path[path.length - 1 - trailingPad],
                projectID: path[path.length - 3 - trailingPad],
            };
        },
        loadSystemApps: function(projectID, systemID) {
            var that = this;
            $.ajax({
                url: "/api/v1/projects/" + projectID + "/systems/" + systemID + "/apps/",
                type: 'GET',
                success: function(data) {
                    that.systemApps = data['results'];
                }
            });
        },
        setSelectedApp: function(app){
            this.selectedApp = app.app;
            this.loadAppPosts();
        },
        loadAppPosts: function() {
            var that = this;
            $.ajax({
                url: "/api/v1/projects/" + this.projectID + "/systems/" + this.systemID + "/apps/" + this.selectedApp.id + "/posts/",
                type: 'GET',
                success: function(data) {
                    var appPosts = data['results'];
                    var template = that.selectedApp.message_template;
                    that.appPosts = [];
                    console.log(template);
                    for (var i = 0; i < appPosts.length; i++) {
                        console.log(appPosts[i].post);
                        var post = JSON.parse(appPosts[i].post);
                        msg = Mustache.render(template, post);
                        that.appPosts.push(msg);
                    }
                }
            });
        },
    },
    mounted: function() {
        var urlInfo = this.extractURLInfo();
        console.log(urlInfo);
        this.projectID = urlInfo['projectID'];
        this.systemID = urlInfo['systemID'];
        this.loadProject(urlInfo['projectID']);
        this.loadSystem(urlInfo['projectID'], urlInfo['systemID']);
        this.loadSystemApps(urlInfo['projectID'], urlInfo['systemID']);
    }
});
  </script>
{% endverbatim %}
{% endblock %}