{% extends "base/base.html" %}
{% block page %}
  {% verbatim %}
  <div id='systemDetailVue'>
    <div class='row' v-if='project!=null'>
      <div class='col'>
        <h4>
        <a href='/dashboard'> Projects </a>
        >
        <a :href='"/projects/"+project.id' class='text-muted'> {{project.name}} </a>
        >
        <a :href='"/projects/"+project.id+"/systems/"+system.id+"/"' class='text-muted'> {{system.name}} </a>
        </h4>
      </div>
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-system-details-tab" data-toggle="pill" href="#pills-system-details" role="tab" aria-controls="pills-system-details" aria-selected="true">System Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">Apps/Integrations</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-system-details" role="tabpanel" aria-labelledby="pills-system-details-tab">
            <div class='row'>
              <div class='col-md-6'>
            <h4> System Details </h4>
            <form v-on:submit.prevent="saveSystem">
              <div class='row'>
                <div class='col-md-4'>
                  <div class="form-group">
                    <label for="systemName">System Name</label>
                    <input type="text" class="form-control" id="systemName" aria-describedby="systemNameHelp" v-model='system.name'>
                  </div>
                  <div class="form-group">
                    <label for="description"> Description </label>
                    <textarea class='form-control' id="description" v-model="system.description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="deploymentType"> Deployment Type </label>
                    <select id='systemType' v-model='system.deployment_type' class='form-control'>
                      <option value=''>----</option>
                      <option v-for="option in deploymentTypes" v-bind:value="option.type">
                        {{ option.label }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="systemType">System Type</label>
                    <select id='systemType' v-model='system.system_type' class='form-control'>
                      <option value=''>----</option>
                      <option v-for="option in systemTypes" v-bind:value="option.type">
                        {{ option.label }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="documentation"> Documentation </label>
                    <textarea class='form-control' id="documentation" v-model="system.documentation"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="apiInfo"> API Info </label>
                    <textarea  class='form-control'  id="apiInfo" v-model="system.api_info"></textarea>
                  </div>
                </div>
                <div class='col-md-8'>
                  <div class="form-group">
                    <label for="repoInfo"> Repository Info </label>
                    <textarea  class='form-control'  id="repoInfo" v-model="system.repo_info"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="environmentConfig"> Environment Config </label>
                    <textarea  class='form-control'  id="environmentConfig" v-model="system.environment_config"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="stagingInfo"> Staging Info </label>
                    <textarea  class='form-control'  id="stagingInfo" v-model="system.staging_info"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="productionInfo"> Production Info </label>
                    <textarea  class='form-control'  id="productionInfo" v-model="system.production_info"></textarea>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
          <div class='col-md-6'>
            <br>
            <div class='row'>
              <div class='col-md-6'>
                <h4> Add Moderator </h4>
                <ul class='scrollable-list'>
                  <li v-for='user in filteredUsers'>
                    <button class='btn btn-sm' title='Add' v-on:click='addModerator(user)'> + </button> {{user.username}}
                  </li>
                </ul>
              </div>
              <div class='col-md-6'>
                <h4> Moderators </h4>
                <ul class='scrollable-list'>
                  <li v-for='moderator in systemModerators'>
                  <button class='btn btn-sm' title='Remove' v-on:click='removeModerator(moderator)'> - </button> {{moderator.moderator.username}} 
                  </li>
                </ul>
              </div>
            </div>
            <hr>
            <br>
            <div class='row'>
              <div class='col-md-6'>
                <h4> Add Dependency </h4>
                <ul class='scrollable-list'>
                  <li v-for='sys in filteredSystems'>
                    <button class='btn btn-sm' title='Add' v-on:click='addDependency(sys)'> + </button> {{sys.name}}
                  </li>
                </ul>

              </div>
              <div class='col-md-6'>
                <h4> Dependecies </h4>
                <ul class='scrollable-list'>
                  <li v-for='dep in systemDependencies'>
                  <button class='btn btn-sm' title='Remove' v-on:click='removeDependency(dep)'> - </button> {{dep.depends_on.name}} 
                  </li>
                </ul>
              </div>
            </div>



          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
      
        <div class='row'>
        <div class='col-md-3'>
          <br>
          <b> Integrated Applications </b>
          <ul class="list-group">
            <li class="list-group-item" v-for='app in systemApps' v-bind:class="{ active: selectedApp != '' && selectedApp.app.id == app.app.id }" v-on:click='setSelectedApp(app)'>
              {{app.app.name}}
            </li>
          </ul>

          <br><br>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addApplicationModal">
           + Add New Application
          </button>

          <br>

          
        </div>

        <div class='col-md-9'>
          
          <div v-if='selectedApp==""'>
            <br><br>
            No app selected.
          </div>
          <div v-if='selectedApp!=""'>
            <b> App Posts </b> <hr>
            <button class='btn btn-primary btn-sm float-right'  data-toggle="modal" data-target="#removeApplicationModal">
              Remove
            </button>
            <span class='badge badge-primary'> {{selectedApp.app.name}} </span>
            <hr>
            <div v-for='post in appPosts'>
              {{post}}
            </div>
            <p v-if='selectedApp != "" && appPosts.length==0'>
              No app posts!
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="addApplicationModal" tabindex="-1" role="dialog" aria-labelledby="addApplicationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addApplicationModalLabel"> Add New Application </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form v-on:submit.prevent="addApplication">

          <div class='form-group'>
            <select class='form-control' v-model='addAppForm.app'>
              <option value='' selected> - - - - </option>
              <option v-for='app in filteredApps' :value='app.id'>
                {{app.name}}
              </option>
              </select>
          </div>

          <button class='btn btn-primary btn-sm' type='submit'> Add </button>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="removeApplicationModal" tabindex="-1" role="dialog" aria-labelledby="removeApplicationModalLabel" aria-hidden="true" v-if="selectedApp!=''">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeApplicationModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The application <span class='badge badge-primary'> {{selectedApp.app.name}} </span> will be removed and its posts will be deleted ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" v-on:click='removeApplication'>Confirm</button>
      </div>
    </div>
  </div>
</div>

  </div>
  <script type="text/javascript" src='/static/site/js/system.js'></script>
{% endverbatim %}
{% endblock %}