<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> {% block title %} Watch Munk {% endblock %}</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <!-- Later to be replaced by webpack bundles -->
    <link rel="stylesheet" href='/static/node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href='/static/site/css/main.css'>
</head>

<body>
    <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/site/js/main.js"></script>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">WatchMunk</h4>
              <p class="text-muted">Monitor and manage systems in multiple projects.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Help</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Usage</a></li>
                <li><a href="#" class="text-white">Support</a></li>
                <li><a href="#" class="text-white">Email: infinite.ravi@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>WatchMunk</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">
    {% block page %} {% endblock %}
    </main>
    
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>WatchMunk is &copy; open source utility to manage and monitor your systems in multiple projects</p>
        <p>New to WatchMunk? <a href="/">Visit the documentation</a> or read our <a href="/">getting started guide</a>.</p>
      </div>
    </footer>

   
</body>

</html>
